---
# MinIO metrics for Prometheus
- job_name: 'minio'
  bearer_token: '{{ minio_access_key }}:{{ minio_secret_key }}'
  metrics_path: /minio/v2/metrics/cluster
  scheme: http
  static_configs:
    - targets: ['{{ ansible_default_ipv4.address }}:9000']