# InfluxDB 2.0 configuration
bolt-path: "{{ influxdb_data_dir }}/influxdb/influxdb.bolt"
engine-path: "{{ influxdb_data_dir }}/influxdb/engine"
nats-port: 4222
http-bind-address: ":8086"
reporting-disabled: false